@using DirectoriesSystem.Models

@model BrowseViewModel

@{
    ViewBag.Title = "Directories";
}

<div class="jumbotron">
    <div id="content">
        @if (@Model.ParentDirectory != null)
        {
            @Ajax.ActionLink("", "", null)
        }

        @{
            foreach (var directory in @Model.Directories)
            {
                <div class="row">
                    @directory
                </div>
            }

            foreach (var file in @Model.Files)
            {
                <div class="row">
                    @file
                </div>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>